* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  min-width:400px;       
}

.carousel-caption {
  top: 15rem !important;
}

.carousel-caption h5 {
  text-transform:uppercase;
  color: #eee;
  font-size:3em;
}

 .carousel-item img {
  height: 100vh;
  min-height: 700px;
  object-fit: cover;
} 
.carousel-caption p {
  color: #eee;
  font-size: 1.5em;
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
  background-color: white !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  filter: none !important
}

.navyblue-btn {
  background-color: #0d1341;
  color: #ffffff;
}

.navyblue-btn:hover{
  background-color: #2d3781;
  color: #a5a51e;
}



