* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 400px;
}

.form-control:focus {
  border-color: #0d1341;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.navyblue-btn {
  background-color: #0d1341;
  color: #ffffff;
  border: 0px;
}

.navyblue-btn:hover {
  background-color: #2d3781;
  color: #ffffff;
}


.carousel-item.active img {
  transform: scale(1.04);
  transform-origin: top left;
  transition: transform 8s ease-in-out;
}