@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #0d2241;
$complementary: #a5a51e;
$input-focus-box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
inset 5px 5px 9px rgba(94, 104, 121, 0.3);
$input-focus-border-color: #0d2241;
$primary-bg-hover:#222e85;

$theme-colors: map-merge($theme-colors, (
        "primary": $primary,
        "info": $complementary,
));

.btn-primary {
  border-radius: 4px!important;
}
.btn-primary:hover {
  background-color: lighten($primary, 10%) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 400px;
}

/*category header services, events */

.category-header {
  max-width: 60px;
}

/* event / service card*/

.container_foto {
  background-color: rgba(83, 99, 138, 0.7);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.container_foto article {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.container_foto img {
  opacity: 0.6;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 3s ease;
  -ms-transition: all 3s ease;
  transition: all 3s ease;
}

.ver_mas {
  height: 65px;
  opacity: 0;
  transform: translate(0px, 65px);
  -webkit-transform: translate(0px, 65px);
  -moz-transform: translate(0px, 65px);
  -o-transform: translate(0px, 65px);
  -ms-transform: translate(0px, 65px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1001;
}

/* EVENT/SERVICE HOVERS */

.container_foto:hover {
  transform: scale(1.04);
}

.container_foto:hover img {
  opacity: 1;
  transform: scale(1.3);
}

.container_foto:hover article {
  transform: translate(2px, -65px);
  -webkit-transform: translate(2px, -65px);
  -moz-transform: translate(2px, -65px);
  -o-transform: translate(2px, -65px);
  -ms-transform: translate(2px, -65px);
}

.container_foto:hover .ver_mas {
  opacity: 1;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  z-index: 1001;
}

/* LAYOUT COMPONENT */
/* Navbar */

.navbar {
  opacity: 90%;
}

.logo {
  height: 50px;
  width: 50px;
}

.user-icon {
  height: 30px;
  width: 30px;
}

/* FOOTER */

.footer-logo {
  height: 80px;
  width: 80px;
}

/*EVENT PAGE*/
.header-image {
  height: 250px;
}

/* EVENTS PAGE */
.bg-services {
  background-image: url('./src/assets/services_bg.webp');
  background-size: cover;
}

/* ABOUT US PAGE */

/* story */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front {
  --webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  --webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: darkblue;

  transform: rotateY(180deg);
}

.about-us-story {
  margin: 50px 50px;
  background-color: linen;
}

/* wall of fame */

.about-us-card-content {
  transition: 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  top: -20px;
}

.about-us-fame-card:hover .about-us-card-content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.about-us-fame-card {
  transition: 0.2s ease-in-out;
  width: 360px;
}
/* MAIN CAROUSEL */
.award-labels {
  bottom: 0;
}

.carousel-item.active img {
  transform: scale(1.04);
  transform-origin: top left;
  transition: transform 10s ease-in-out;
}

/* CONTACT PAGE */

.block-example {
  margin: 250px 0;
}

.slick-next {
  display: none !important
}

@import "../node_modules/bootstrap";
