#navbar {
    
    background-color: transparent !important;
}

/* #container {
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    width: 100vw;
}

#basic-navbar-nav {
    justify-content: space-between;
    margin-left: 300px;
} */

.me-auto {
    margin-left: 300px;
}
